<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Info</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<body>
<form th:object="${product}" th:action="@{/product/}" method="post" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}"/>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading" style="background-color:lightgray;">
                <h1 class="panel-title">Product INFO</h1>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label>Product name:</label>
                        <input type="text" class="form-control" th:field="*{name}"/>
                    </div>
                    <div class="col-md-3 form-group">
                        <label>Code:</label>
                        <input type="text" class="form-control" th:field="*{code}"/>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-3 ">
                        <div th:if="${product.categories == null}" class="row">

                            <div class="col-md-3">
                                <label th:for="categories">Categories</label>
                                <ul id="categories" style="list-style: none;">
                                    <li th:each="category: ${categoriesAll}">
                                        <input type="checkbox"
                                               th:field="*{categories}"
                                               th:value="${category.id}"/>
                                        <label
                                                th:for="${#ids.prev('categories')}"
                                                th:text="${category.name}">
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div th:if="${product.categories != null}" class="row">
                            <div class="col-md-3">
                                <label th:for="categories">Categories</label>
                                <ul id="categories2" style="list-style: none;">
                                    <li th:each="category: ${product.categories}">
                                        <input type="checkbox"
                                               th:field="*{categories}"
                                               th:value="${category.id}"/>
                                        <label
                                                th:for="${#ids.prev('categories')}"
                                                th:text="${category.name}">
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-3 ">
                        <label class="control-label">Select Image File</label>
                        <input id="imagefile" name="imagefile" type="file" class="file">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label th:for="info">Info</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label th:for="reservePrice">Price:</label>
                    <label th:if="${#fields.hasErrors('reservePrice')}" th:errors="*{reservePrice}">Error</label>
                    <input type="number" class="form-control" th:field="*{reservePrice}"/>

                </div>
                <div class="col-md-2">
                    <label for="currency">Currency: </label>
                    <select id="currency" name="currency" th:field="*{currency}">
                        <option
                                th:each="currencyOpt:${T(com.awbd.lab9.domain.Currency).values()}"
                                th:value="${currencyOpt}" th:text="${currencyOpt.getDescription()}">
                        </option>
                    </select>

                </div>
                <div class="col-md-3">
                    <label th:for="restored">Restored</label>
                    <input type="checkbox" th:field="*{restored}"/>
                </div>
            </div>


            <div class="row">

                <div class="col-md-7 ml-md-auto">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>

        </div>
    </div>


</form>
</body>
</html>