@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {   font-family: 'Monserrat', sans-serif;}

.navbar {background: #696fb4;}


.text{
color: #8c8ea8;
color: #121254;
/*;
*/
text-decoration:  none;
}

.user
{
	color: #121254;

}