


body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position:absolute;
  top: 0 ;
  left:0;
}

form {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	
	margin:0 0 ;
	padding: 20px 80px 80px 80px;
	
}

.tabHeader
{	
	text-align: center;
	
	margin: 25px;
	padding: 25px;
	font-size: 30px;
	
	
} 

.tabel{
	
	
	position: absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
	
}


.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #696fb4;
  opacity: 1;
  margin: 0;
  padding: 0 0 10px 0;
}

header::after {
  content: "";
  display: table;
  clear: both;
}
.container p {
  float: left;
  font-size: 200%;

  padding: 10px;
}

header nav {
  float: right;
}
header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
header nav li {
  display: inline-block;

  margin-left: 70px;
  margin-top: 70px;
  font-weight: 900;
  font-size: 150%;
  padding-top: 25px;
  position: relative;
}
header nav li a {
  text-decoration: none;
  color: #8c8ea8;
  text-transform: uppercase;
  
}
header nav li a:hover {
  color: #000;
}

header nav li a::before {
  border: none;
  content: "";
  display: block;
  height: 5px;
  width: 0%;
  background-color: #000;
  position: absolute;
  top: 5px;
  transition: all ease-in-out 250ms;
}

header nav li a:hover::before {
  width: 100%;
}

.content-table {
	
	text-align: center;
	background: #fff;
	border-collapse: collapse;
	position: relative;
	margin: 0 0 ;
	font-size: 0.9em;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	}
	
.thh{
	text-align: center;
	align-content: center;
	font-weight: bold;
	text-decoration: none;
	background: #696fb4;
	}
	
	.content-table  td
	{
	  padding: 12px auto;
	
	}
	
	.content-table tr {
	    border: none;
		border-bottom: 1px solid #696fb4; 
	
	}
	
	
	.comtent-table tbody tr:last-of-type(even){
	
	background: #f3f3f3;
	}

	.add {
	color: #000;
	text-decoration:none;
	position: absolute;
	background: #696fb4; 
	top:25%;
	left: 5px;
	
	}
.logout{

	border-radius: 24px;
	color:red;
	position:absolute;
	right:  20px;
	padding:10px 10px;
	margin: 5px 5px;
	
}
	
.title {
	
	pozition: absolute;
	left: 50%;
	top:15;
}
	