<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Masini</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" />
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>


Logged user: <span sec:authentication="name">user</span> Roles: <span sec:authentication="principal.authorities">[ROLE_USER]</span>

<div class="container">
    <table class="table table-hover ">
        <thead class="thead-inverse">
        <tr>
            <th>ID</th>
            <th>Numar</th>
            <th>Capacitate</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tr th:each="masina, stat : ${masini}"
            th:class="${stat.odd}? 'table-light':'table-dark'"
                >
            <td th:text="${masina.id}">1</td>
            <td th:text="${masina.numar}">Masina 1</td>
            <td th:text="${masina.capacitate}">Code</td>
            <td><a href="#" th:href="@{'/masina/delete/' + ${masina.id}}">Delete</a></td>
        </tr>
    </table>
</div>
<div class="container">
    <div class="row">
        <div sec:authorize="hasRole('ADMIN')">
            <a class="btn btn-primary" role="button" th:href="@{'/masina/new'}">add masina</a>
        </div>

<!--        <div class="col-md-6">
            <a class="btn btn-primary" role="button" th:href="@{'/participant/new'}">register</a>
        </div>
-->



    </div>
</div>
<div class="col-md-3">
    <form th:action="@{/logout}" method="POST"> <input type="submit" class="btn btn-primary" value="Logout"> </form>
</div>


</body>
</html>