<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Masina noua</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<body>
<form th:object="${masina}" th:action="@{/masina/}" method="post">
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading" style="background-color:lightgray;">
                <h1 class="panel-title" style="background: #696fb4; color: #121254;">Maina noua</h1>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label>Numar inmatriculare:</label>
                        <input type="text" class="form-control" th:field="*{numar}"/>
                    </div>
                    <div class="col-md-3 form-group">
                        <label>Capacitate:</label>
                        <input type="text" class="form-control" th:field="*{capacitate}"/>
                    </div>
                </div>

                </div>
            </div>

            <div class="row">

                <div class="col-md-7 ml-md-auto">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>

        </div>
    </div>


</form>
</body>
</html>