<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Masini</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" />
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>.text{color: #121254; text-decoration:  none; }
    .user{color: #121254;}
    .navbar {background: #696fb4;}
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md ">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand user" href="#">SCM Trans</a>
            </div>
            <ul class = "navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text" href="/cursa/list">CURSE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text" href="/cerere/list">CERERI</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link text" href="/sofer/list">SOFERI</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link text" href="/masina/list">MASINI</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link text" href="/client/list">CLIENTI</a>
                </li>
            </ul>
            <ul class="navbar navbar-nav navbar-right ">
                <span sec:authentication="name">sofer</span>
                <form th:action="@{/logout}" method="POST"> <input type="submit" class="btn btn-primary"  value="Logout"></form>
            </ul>
        </div>
    </nav>
</header>
<div class="container">
    <table class="table table-hover ">
        <thead class="thead-inverse">
        <tr>
            <th>ID</th>
            <th>Numar</th>
            <th>Capacitate</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tr th:each="masina, stat : ${masini}"
            th:class="${stat.odd}? 'table-light':'table-dark'"
                >
            <td th:text="${masina.id}">1</td>
            <td th:text="${masina.numar}">Masina 1</td>
            <td th:text="${masina.capacitate}">Code</td>
            <td><a href="#" th:href="@{'/masina/delete/' + ${masina.id}}">Delete</a></td>
        </tr>
    </table>
</div>
<div class="container">
    <div class="row">
        <div sec:authorize="hasRole('ADMIN')">
            <a class="btn btn-primary" role="button" th:href="@{'/masina/new'}">add masina</a>
        </div>

<!--        <div class="col-md-6">
            <a class="btn btn-primary" role="button" th:href="@{'/participant/new'}">register</a>
        </div>
-->



    </div>
</div>

</body>
</html>